@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #e67104;
  --secondary-color: #0061ab;
  --neutral-color: #f5f5f5;
  --border-color: #ddd;
}
/* custom scroll bar */

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: var(--neutral-color);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

::-webkit-scrollbar-thumb:hover {
  background: #bb6316;
}

/* Global Styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  direction: ltr;
}

a {
  text-decoration: none;
  color: #000;
  transition: color 0.3s;
}

a:hover {
  color: var(--primary-color);
}

ul {
  list-style: none;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
}

.reveal {
  opacity: 0;
  transform: translateY(16px);
  transition: all 0.6s ease-in-out;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 6px solid #f3f3f3;
  border-top: 6px solid var(--primary-color);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#close-loader {
  position: absolute;
  bottom: 16px;
  right: 16px;
  cursor: pointer;
  transition: 0.3s;
  padding: 10px 20px;
  border: none;
  background: #d9534f;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

#close-loader:hover {
  background: #c9302c;
}

/* Header */

header {
  background: transparent;
  color: #fff;
  /* padding: 8px 0; */
  height: 76px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  transition: all 0.3s;
}

header.scrolled {
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* header.scrolled .logo {
  background: none;
  border: none;
  color: var(--primary-color);
} */

header.scrolled nav ul {
  background-color: white;
}

header.scrolled ul li a,
header.scrolled ul li#lang-toggle,
header.scrolled .toggle-menu {
  color: #000;
}

header .wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 8px 20px;
  position: relative;
}

/* header .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #00000050;
  border: 1px solid var(--primary-color);
  color: #fff;
  padding: 0 8px;
}

header .logo span {
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  bottom: 8px;
} */

/* header .logo {
  background: rgba(255, 255, 255, 0.2);
  padding: 8px;
  border-radius: 8px;
  backdrop-filter: blur(4px);
  display: inline-block;
} */

header .logo img {
  width: 200px;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 1));
}

header.scrolled .logo img {
  filter: none;
}

.nav {
  gap: 0;
}

.nav ul {
  gap: 16px;
  background-color: #00000050;
  padding: 16px;
  border: 1px solid var(--primary-color);
}

.nav ul li a {
  color: #fff;
}

.nav ul li#lang-toggle {
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.nav ul li a:hover,
.nav ul li#lang-toggle:hover {
  color: var(--primary-color);
}

.quote,
.about a {
  background-color: var(--primary-color);
  padding: 16px;
  border: 1px solid var(--primary-color);
  cursor: pointer;
  transition: all 0.3s;
}

.quote a,
.about a {
  color: #fff;
}

.quote:hover {
  background-color: #bb6316;
  font-weight: bold;
}

.toggle-menu {
  display: none;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 1400px) {
  header .wrapper {
    padding: 8px 24px 0;
  }
}

@media screen and (max-width: 970px) {
  header {
    padding: 8px 0;
  }

  .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 62px;
    right: 0;
    background-color: #fff;
    width: 100%;
    padding: 16px;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .nav ul {
    flex-direction: column;
    gap: 8px;
    list-style: none;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
  }

  .nav ul li {
    text-align: center;
  }

  .nav ul li a {
    color: #000;
  }

  .nav ul li#lang-toggle {
    color: #000;
  }

  .toggle-menu {
    display: block;
  }

  .nav.active {
    display: flex;
  }

  .quote {
    padding: 8px 16px;
    margin-top: 8px;
  }
}

@media screen and (max-width: 480px) {
  header .wrapper {
    padding: 8px 16px 0;
  }
}

/* Sections Global Styles */

main {
  flex: 1;
}

section:not(.hero) {
  margin-top: 32px;
  padding: 32px 0;
  scroll-margin-top: 64px;
}

section .wrapper {
  max-width: 1350px;
  margin: auto;
  gap: 32px;
  margin-top: 64px;
}

.container {
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (max-width: 768px) {
  section .wrapper {
    padding: 0 16px !important;
  }
}

/* Hero Section */

.hero {
  position: relative;
  height: 100dvh;
  overflow: hidden;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  transform: translateZ(0);
  will-change: transform, opacity;
  backface-visibility: hidden;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 80px 250px;
  box-sizing: border-box;
  z-index: 1;
  transform: translateZ(0);
  will-change: transform, opacity;
  backface-visibility: hidden;
}

.hero-content {
  color: #fff;
  max-width: 800px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  z-index: 2;
}

.hero-content h1 {
  font-size: 96px;
  margin-bottom: 20px;
  font-weight: bold;
  line-height: 1.2;
}

.hero-content p {
  font-size: 32px;
  margin-bottom: 30px;
  line-height: 1.6;
}

.hero-btns {
  display: flex;
  gap: 16px;
}

.btn {
  background-color: var(--primary-color);
  color: #fff;
  padding: 12px 28px;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #bb6316;
  color: #fff;
}

.btn-transparent {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
}

.btn-transparent:hover {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

@media (max-width: 768px) {
  .hero-overlay {
    padding: 40px;
    align-items: flex-end;
  }

  .hero-content h1 {
    font-size: 40px;
  }

  .hero-content p {
    font-size: 18px;
  }

  .btn {
    padding: 10px 20px;
    font-size: 16px;
  }
}

/* About Section */

.about a {
  border: none;
}

.about a:hover {
  background-color: #bb6316;
}

.about-first-content span {
  font-size: 20px;
  margin-bottom: 16px;
}

.about-second,
.about-third,
.about-fourth {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
  margin-top: 64px;
}

.about-second-content,
.about-third-content,
.about-fourth-content {
  flex: 1 1 40%;
}

.about-img,
.about-img-2,
.about-img-3 {
  flex: 1 1 55%;
  height: 1000px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.about-img {
  background-image: url("images/projects/مشروع\ الحجاز/1.jpg");
}

.about-img-2 {
  background-image: url("images/projects/Other/7\ cropped.jpg");
}

.about-img-3 {
  background-image: url("images/projects/محطة\ البكراوي\ لفرز\ وتعبئة\ الفاكهه/1.jpg");
}

.about h3,
.about-fourth h3 {
  max-width: 500px;
  font-size: 32px;
  color: var(--primary-color);
}

.about h4,
.about-fourth h4 {
  font-size: 24px;
  margin: 16px 0;
}

.about hr,
.about-fourth hr {
  width: 60px;
  height: 2px;
}

.about p {
  font-size: 16px;
  line-height: 1.6;
  max-width: 400px;
  color: #333;
}

.about-third {
  margin-top: 128px;
  gap: 48px;
}

.about-third-content,
.about-fourth-content {
  max-width: fit-content;
  padding: 0 32px;
}

.about-fourth-content {
  padding: 0 64px;
}

.about-fourth-content img {
  width: 100%;
}

.about-fourth-content p {
  margin-top: 16px;
}

/* Stats Section */

.stat-section {
  position: relative;
  padding: 100px 0 !important;
  margin-top: 128px !important;
}

.stat-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("images/projects/Other/1.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: -1;
}

.stat-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.about-text {
  min-width: 300px;
}

.about-text h2 {
  margin-bottom: 20px;
  color: var(--primary-color);
  font-size: 32px;
}

.about-text p {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 64px;
  max-width: 500px;
  color: #e0e0e0;
}

.stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  margin-top: 40px;
}

.stat-item {
  text-align: center;
  padding: 20px;
  /* background-color: rgba(240, 185, 19, 0.2); */
  border-radius: 5px;
  /* backdrop-filter: blur(5px); */
}

.stat-number {
  font-size: 36px;
  font-weight: bold;
  /* color: var(--primary-color); */
  color: #fff;
  margin-bottom: 5px;
}

.stat-label {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .about-section {
    padding: 60px 0;
  }

  .about-text {
    padding: 0 8px;
  }

  .about-text h2 {
    font-size: 28px;
  }

  .stats {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .stats {
    grid-template-columns: 1fr;
  }

  .about-text {
    min-width: 100%;
  }
}

/* Services Section */

.services-section {
  margin-top: 0 !important;
  padding: 80px 0 !important;
  background: #f8f8f8;
}

.services-first-content {
  max-width: 600px;
}

.services-first-content .bold-para {
  font-size: 32px;
  color: var(--primary-color);
  font-weight: bold;
  margin: 16px 0;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  width: 100%;
  margin: 32px auto;
}

.service-icon {
  font-size: 50px;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.service-card h3 {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: normal;
  transition: all 0.3s;
}

.service-card:hover h3 {
  color: var(--primary-color);
  font-weight: bold;
}

.service-card {
  background: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  font-weight: bold;
  transition: transform 0.3s, background-color 0.3s;
  backdrop-filter: blur(5px);
  width: 200px;
  border: 1px solid rgba(240, 185, 19, 0.2);
}

.service-card:hover {
  transform: translateY(-10px);
  background-color: rgba(240, 185, 19, 0.1);
  border-color: rgba(240, 185, 19, 0.5);
}

.service-card1 {
  grid-column: 2;
}
.service-card8 {
  grid-column-end: span 1;
}

.service-card h3 {
  font-size: 16px;
}

@media (max-width: 992px) {
  .services-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .service-card1 {
    grid-column: 1;
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .services-section {
    padding: 60px 0;
  }
}

@media (max-width: 576px) {
  .services-first {
    padding: 0 16px;
  }

  .services-first-content .bold-para {
    font-size: 24px;
  }

  .services-grid {
    grid-template-columns: repeat(1, 1fr) !important;
    padding: 0 16px;
  }

  .service-card1 {
    grid-column: 1;
  }

  .service-card8 {
    grid-column-end: span 1;
  }

  .service-card {
    width: 100%;
  }
}

/* Footer */
footer {
  background-color: #f8f8f8;
  color: #333;
  padding: 40px 20px 20px;
  margin-top: auto;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 32px;
}

.footer-section {
  margin-bottom: 16px;
}

.footer-section h4 {
  color: #222;
  font-size: 24px;
  margin-bottom: 15px;
  position: relative;
  padding-bottom: 10px;
}

.footer-section h4::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 2px;
  background-color: #aaa7a7;
}

.footer-section p,
.footer-section a {
  color: #555;
  line-height: 1.6;
  margin-bottom: 8px;
  display: block;
}

.footer-section a:hover {
  color: #000;
}

.social-icons {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: fit-content;
  margin-top: 16px;
}

.social-icons a {
  color: #555;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #000;
}

.contact-btn {
  display: inline-block;
  background-color: var(--primary-color);
  color: white !important;
  padding: 10px 20px;
  text-align: center;
  transition: background-color 0.3s;
}

.contact-btn:hover {
  background-color: #bb6316;
}

.copyrights {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
  }

  .footer-section {
    text-align: center;
  }

  .footer-section h4::after {
    left: 50%;
    transform: translateX(-50%);
  }

  .social-icons {
    justify-content: center;
    width: 100%;
  }
}

/* Back to Top */

.to-top-btn {
  position: fixed;
  bottom: 24px;
  right: 24px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 12px 16px;
  font-size: 24px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transform: translateY(100%);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease;
  z-index: 1000;
}

.to-top-btn.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.to-top-btn:hover {
  background-color: #bb6316;
}

@media screen and (max-width: 768px) {
  * {
    user-select: none !important;
  }
}
